In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/site-packages/matplotlib/font_manager.py:280: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [12]:
data = pd.read_csv('product_1_data.csv')
data = data.dropna()
data[:5]

,Unnamed: 0,amount_of_all_competitors,average_price_on_market,own_price,price_rank,quality_rank,sold,timestamp
0,0,0,6.43,6.43,1.0,1.0,0,2017-03-28T08:16:15.296Z
1,1,0,44.79,44.79,1.0,1.0,0,2017-03-28T08:16:15.418Z
2,2,0,10.89,10.89,1.0,1.0,0,2017-03-28T08:16:15.535Z
3,3,0,16.33,16.33,1.0,1.0,0,2017-03-28T08:16:15.645Z
4,4,0,18.59,18.59,1.0,1.0,0,2017-03-28T08:16:15.676Z

In [22]:
X = data[['amount_of_all_competitors', 'average_price_on_market', 'price_rank', 'quality_rank']]
y = data['sold']
y[y > 0] = 1

## check learning results

In [23]:
data[data['sold'] == 0].describe()

,Unnamed: 0,amount_of_all_competitors,average_price_on_market,own_price,price_rank,quality_rank,sold
count,1709.00000,1709.000000,1709.000000,1709.000000,1709.000000,1709.000000,1709.0
mean,874.70041,0.547104,19.485777,21.040374,1.385606,1.176712,0.0
std,507.60073,0.668573,10.970526,12.608656,0.639675,0.443950,0.0
min,0.00000,0.000000,5.990000,5.940000,1.000000,1.000000,0.0
25%,436.00000,0.000000,11.940000,11.570000,1.000000,1.000000,0.0
50%,872.00000,0.000000,17.220000,18.070000,1.000000,1.000000,0.0
75%,1313.00000,1.000000,22.800000,26.960000,2.000000,1.000000,0.0
max,1773.00000,3.000000,86.130000,109.320000,4.000000,4.000000,0.0

In [24]:
data[data['sold'] > 0].describe()

,Unnamed: 0,amount_of_all_competitors,average_price_on_market,own_price,price_rank,quality_rank,sold
count,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.0
mean,1146.322034,1.101695,19.972514,24.677627,2.016949,1.440678,1.0
std,541.751420,1.124874,8.152339,10.680596,1.152082,0.876340,0.0
min,207.000000,0.000000,7.685000,6.370000,1.000000,1.000000,1.0
25%,630.500000,0.000000,15.013333,15.515000,1.000000,1.000000,1.0
50%,1201.000000,1.000000,18.433333,25.900000,2.000000,1.000000,1.0
75%,1691.000000,2.000000,21.350000,31.900000,3.000000,1.500000,1.0
max,1770.000000,3.000000,52.900000,52.980000,4.000000,4.000000,1.0

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
lr = LogisticRegression()

In [25]:
lr.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [29]:
lr.score(X, y)

0.96662895927601811

In [26]:
lr.coef_

array([[ 0.30376061, -0.01094918,  0.46138265, -0.00517134]])

## try normalizing expectation

In [30]:
pt = pd.read_csv('../pricing_table.csv')
pt[:5]

,Unnamed: 0,amount_of_all_competitors,average_price_on_market,own_price,price_rank,quality_rank,sell_prob,expected_profit
0,0,7,17.861818,6.1,1,9,0.012706,0.001271
1,1,7,17.898182,6.2,1,9,0.012684,0.002537
2,2,7,17.934545,6.3,1,9,0.012663,0.003799
3,3,7,17.970909,6.4,1,9,0.012641,0.005056
4,4,7,18.007273,6.5,1,9,0.012619,0.006310

In [36]:
pt[pt['expected_profit'] > pt['expected_profit'].quantile(0.95)]

,Unnamed: 0,amount_of_all_competitors,average_price_on_market,own_price,price_rank,quality_rank,sell_prob,expected_profit
189,189,7,24.734545,25.0,7,9,0.827786,15.727931
190,190,7,24.770909,25.1,7,9,0.827537,15.805964
191,191,7,24.807273,25.2,7,9,0.827289,15.883941
192,192,7,24.843636,25.3,7,9,0.827040,15.961863
193,193,7,24.880000,25.4,7,9,0.826790,16.039730
194,194,7,24.916364,25.5,7,9,0.826541,16.117541
195,195,7,24.952727,25.6,7,9,0.826291,16.195297
196,196,7,24.989091,25.7,7,9,0.826040,16.272998
197,197,7,25.025455,25.8,7,9,0.825790,16.350642
198,198,7,25.061818,25.9,7,9,0.825539,16.428231